<?xml version="1.0"?>

<launch>

    <node pkg="tf" type="static_transform_publisher" name="bl_os1" args="0.108 0.043 0.041 0.494 0.490 0.511 0.505 sensor base_link 10"/>
    <node pkg="empty_rosnode_cplusplus" name="empty_rosnode_cplusplus" type="empty_rosnode_cplusplus"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d /home/nico/maplab_ws/src/empty_rosnode_cplusplus/test.rviz"/>
</launch>
